table {
    border-collapse: collapse;
}

table td:nth-child(1),
table td:nth-child(2),
table td:nth-child(3) {
    text-align: center;
}

table th,
table td {
    border-bottom: 1px solid black;
}

table tr:hover {
    background-color: var(--projects-table-row-hover-color);
    cursor: pointer;
}

.project-name {
    width: var(--projects-table-colgroup-name-width);
}

.project-date {
    width: var(--projects-table-colgroup-date-width);
}

.project-status {
    width: var(--projects-table-colgroup-status-width);
}

.project-text {
    width: var(--projects-table-colgroup-text-width);
}